# OSX
.DS_Store
.AppleDouble

# Windows
thumbs.db

# Python / uWSGI
*.pyc
*.pyo*
.pip-log.txt

# Xcode 4
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

# Other
*.db
*.swo
*.swn
*.~lock*
*.*~
*~
r

# textmate project file
*.tmproj

# SASS generated CSS
.sass-cache
*.sass-cache
static/css

# node / grunt
node_modules

# bundler
.bundle
Gemfile.lock