
/*
	## Variables for config project
*/

/*
	## Layout
*/

$container: 960px;
$break-point-large: 840px;
$break-point-medium: 768px;
$break-point-small: 640px;



/*
	## Sprites setup
*/

$use-retina-sprites: false;
$site-sprites-prefix: 's';
$site-sprites: sprite-map("icon/*.png", $spacing: 15px);

/*
	## Fonts
*/

$font-1:                                "open-sans";
$font-default:                          $font-1;
$bold-default:                          700;
$font-size-base:                        12px;

/*
	## Font Size
*/

$fz-default: 12px;
$fz-small: 14px;
$fz-extra-small: 16px;
$fz-medium: 18px;
$fz-extra-medium: 20px;
$fz-large: 22px;
$fz-extra-large: 24px;
